@import "src/app/scss/styles.scss";

.first-name-bigger-screen {
  width: 45%;
}

.last-name-bigger-screen {
  width: 50%;
  // margin-left: 5%;
}

.first-last-name-smaller-screen {
  width: 100%;
}

.use-my-email {
  @include color-picker(cornflowerblue);
  cursor: pointer;
}

.password-smaller-screen {
  width: 100%;
}

.password-bigger-screen {
  width: 90%;
}

.confirm-smaller-screen {
  width: 100%;
  margin-top: 5%;
}

.confirm-bigger-screen {
  width: 80%;
}
