.sidenav-bigger-screen {
  width: 23%;
}

.sidenav-smaller-screen {
  width: 80%;
  height: 90%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.search-box-in-header {
  margin-left: 6%;
  border-radius: 5px;
  border: 1px solid rgb(251, 251, 251);
  height: 35px;
  width: 50%;
  background-color: white;
}

.three-icons-in-header-bigger-screen {
  margin-left: 30%;
}

.three-icons-in-header-smaller-screen {
  margin-left: 5%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.log-out-icon {
  margin-left: 5%;
}

.sidenav-content {
  &:hover {
    background-color: rgb(254, 239, 195);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; 
  }
}

.search-bar-minimized {
  height: 5px;
  border-radius: 10px;
}

.complete-search-bar-minimized {
  margin-top: 2.5%;
  width: 280px;
}

.complete-search-bar-maximized {
  margin-top: 2.5%;
  width: 50%;
}

.occupy-full {
  width: 100%;
}

.demo{
  position: absolute;
  margin-top: 10px;
}