<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" fxLayoutGap="2px" fxLayoutAlign="space-around start">
    <div *ngFor="let note of notesList.reverse()">
        <mat-card *ngIf="!note.isDeleted" ngClass.lt-md="note-smaller-screen" ngClass.gt-md="note-bigger-screen"
            class="extra-actions">

            <mat-card-title>
                {{note.title}}
            </mat-card-title>

            <mat-card-content>
                {{note.description}}
            </mat-card-content>

            <mat-card-actions>

                <div style="color: grey" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                    <div>
                        <mat-icon class="material-icons" matTooltip="Remind Me">
                            notifications_none
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon class="material-icons" matTooltip="Collaborator">
                            person_add
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon class="material-icons" matTooltip="Change color">
                            color_lens
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon class="material-icons" matTooltip="Add Image">
                            image
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon class="material-icons" matTooltip="Archive">
                            archive
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon [matMenuTriggerFor]="menu" class="material-icons" matTooltip="More">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button (click)="deleteNote(note)" mat-menu-item>Delete Note</button>
                            <button mat-menu-item>Add Label</button>
                        </mat-menu>
                    </div>
                </div>

            </mat-card-actions>

        </mat-card>
    </div>
</div>