.note-smaller-screen {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 5%;
  white-space: pre-line;
  overflow-wrap: break-word
}

.note-bigger-screen {
  width: 150px;
  border-radius: 10px;
  margin-top: 5%;
  white-space: pre-line;
  overflow-wrap: break-word
}

.extra-actions{
  mat-icon{
    display: none;
  }
  &:hover{
    mat-icon{
      display: block;
    }
  }
}
