<div fxFlexFill fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="space-between center" style="margin:auto">

    <mat-card fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card-title>
          <div class="blue-color">F</div>
          <div class="red-color">u</div>
          <div class="orange-color">n</div>
          <div class="blue-color">d</div>
          <div class="green-color">o</div>
          <div class="red-color">o</div>
          <div class="blue-color">N</div>
          <div class="red-color">o</div>
          <div class="orange-color">t</div>
          <div class="blue-color">e</div>
          <div class="green-color">s</div>

      </mat-card-title>

      <mat-card-subtitle>
        Set your fundoo Account Password
      </mat-card-subtitle>

      <form [formGroup]="resetPasswordFormGroup">
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="outline">
            <mat-label>
              New Password
            </mat-label>
            <input formControlName="passwordFormController" type="password" matInput placeholder="Type new Password Here">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>
              Confirm Password
            </mat-label>
            <input formControlName="confirmFormController" type="password" matInput placeholder="Confirm Password Here">
          </mat-form-field>
        </mat-card-content>
      </form>

      <mat-card-content>
        <button (click)="resetPassword()" mat-raised-button class="next-button">
          Change Password
        </button>
      </mat-card-content>


    </mat-card>
  </div>
</div>